main {
    width: 80%;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 -6px 12px rgba(0, 0, 0, 0.3);
}

section {
    text-align: center; /* Выравниваем текст по центру внутри секции */
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5;
}

.image {
    width: 30%;
    margin-bottom: 1em;
}

.more {
    text-decoration: none;
    background-color: rgb(32,178,255);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.more:hover {
    background-color: #0056b3; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}